In [7]:
import pandas as pd

In [11]:
myList = [13,42,5,10,85,1,30]

In [12]:
myList.pop(1)

42

In [13]:
myList

[13, 5, 10, 85, 1, 30]

You are given 2 lists in Python: ```country1``` and ```country2```

In [21]:
country1 = ["China", "Brazil", "Japan", "Autralia", "Germany"]
country2 = ["China", "Japan", "Russia", "New Zealand", "Germany"]

Some values are common in both lists. Which of the following code will find the name of all the countries which are present in ```country1``` but not in ```country2```

In [23]:
[i for i in country1 if i not in country2]

['Brazil', 'Autralia']

3. In Python you have defined a tuple as ```tup = (1, 2 , 3, 4, 5)``` Now, you want to update the value of the third item, 3, to 10. Which of the following option will you choose?
a. ```tup[2] = 10```
    
b. ```tup(2) = 10```
    
c. ```tup(3) = 10```
    
d. none of these
    
e. ```tup[3] = 10```

In [25]:
tup = (1, 2 , 3, 4, 5)

Answer:
    Tuples are immutable so none of these will work