Given an integer, n , perform the following conditional actions:

If n is odd, print Weird
If n is even and in the inclusive range of 2 to 5, print Not Weird
If n is even and in the inclusive range of 6 to 20, print Weird
If n is even and greater than 20, print Not Weird

In [ ]:
import math
import random

In [2]:
n = 3
n

In [3]:
#If n is odd, print Weird

if n % 2 != 0:
    print("Weird")
else:
    print("Not Weird")

Weird

In [4]:
n = 2
n

2

In [5]:
# If n is even and in the inclusive range of 2 to 5, print Not Weird

if n % 2 == 0:
    if n >= 2 and n <= 5:
        print("Not Weird")
    else:
        print("Weird")
else:
    print("Weird")

Not Weird

In [6]:
n= 100

In [7]:
#If n is even and in the inclusive range of 6 to 20, print Weird
if n % 2 == 0:
    if n >=6 and n <= 20:
        print("Weird")
    else:
        print("Not Weird")
else:
    print("Weird")

Not Weird

In [8]:
n = 5

In [9]:
#let's combine everything into one

#check if even
if n % 2 == 0:
    #check of between 2 and 5 inclusive
    if n >= 2 and n <= 5:
        print("Not Weird")
    #check if between 6 and 20 inclusive
    elif n >=6 and n <= 20:
        print("Weird")
    else:
        print("Not Weird")
else:
    print("Weird")

Weird

## Arithmetic Operators

The provided code stub reads two integers from STDIN,  and . Add code to print three lines where:

1. The first line contains the sum of the two numbers.
2. The second line contains the difference of the two numbers (first - second).
3. The third line contains the product of the two numbers.

In [10]:
# The first line contains the sum of the two numbers.
a = 3
b = 5

In [11]:
#c = a + b
print(a + b)

8

In [12]:
#The second line contains the difference of the two numbers (first - second).
print(a - b)

-2

In [13]:
#The third line contains the product of the two numbers.
print(a * b)

15

In [14]:
print(a + b)
print(a - b)
print(a * b)

8
-2
15

## Division

The provided code stub reads two integers,  and , from STDIN.

Add logic to print two lines. 
1. The first line should contain the result of integer division, a // b. 
2. The second line should contain the result of float division, a / b.

No rounding or formatting is necessary.

In [15]:
a = 3
b = 5

In [16]:
print (a // b)
print (a / b)

0
0.6

## Loops

The provided code stub reads and integer, n , from STDIN. For all non-negative integers i < n, print $i^2$.

In [17]:
n = 5

In [18]:
for i in range (0, n):
    print(i ** 2)

0
1
4
9
16

## Write a Function
An extra day is added to the calendar almost every four years as February 29, and the day is called a leap day. It corrects the calendar for the fact that our planet takes approximately 365.25 days to orbit the sun. A leap year contains a leap day.

In the Gregorian calendar, three conditions are used to identify leap years:

- The year can be evenly divided by 4, is a leap year, unless:
    - The year can be evenly divided by 100, it is NOT a leap year, unless:
        - The year is also evenly divisible by 400. Then it is a leap year.
        
This means that in the Gregorian calendar, the years 2000 and 2400 are leap years, while 1800, 1900, 2100, 2200, 2300 and 2500 are NOT leap years.

**Task**

Given a year, determine whether it is a leap year. If it is a leap year, return the Boolean True, otherwise return False.

Note that the code stub provided reads from STDIN and passes arguments to the is_leap function. It is only necessary to complete the is_leap function.

In [19]:
y = 2000

In [20]:
#The year can be evenly divided by 4
if y % 4 == 0:
    print(True)
else:
    print(False)

True

In [21]:
# The year can be evenly divided by 100, it is NOT a leap year
if y % 100 == 0:
    print(False)
else:
    print(True)

False

In [22]:
#combie the 2 steps above
if y % 4 == 0:
    if y % 100 == 0:
        print(False)
    else:
        print(True)    
else:
    print(False)

False

In [23]:
# The year is also evenly divisible by 400. Then it is a leap year.

In [24]:
if y % 400 == 0:
    print(True)
else:
    print(False)

True

In [25]:
#combie all steps
if y % 4 == 0:
    if y % 100 == 0:
        if y % 400 == 0:
            print(True)
        else:
            print(False)
    else:
        print(True)    
else:
    print(False)

True

In [26]:
def is_leap(y):
    if y % 4 == 0:
        if y % 100 == 0:
            if y % 400 == 0:
                return True
            else:
                return False
        else:
            return True  
    else:
        return False

In [27]:
# 2000 and 2400 are leap years, 
# while 1800, 1900, 2100, 2200, 2300 and 2500 are NOT leap years
assert is_leap(2000) == True
assert is_leap(2400) == True
assert is_leap(1800) == False
assert is_leap(1900) == False
assert is_leap(2100) == False

In [28]:
is_leap(2000)

True

## Print Function

The included code stub will read an integer, n , from STDIN.

Without using any string methods, try to print the following:

123...n
Note that "..." represents the consecutive values in between.

Example
n = 5
Print the string 12345.

Input Format

The first line contains an integer .

Constraints


Output Format

Print the list of integers from  through  as a string, without spaces.

In [29]:
n = 5

In [30]:
for i in range(1,n+1):
    print(i, end="")

12345

## List Comprehensions

In [31]:
x = 1
y = 1
z = 2
n = 3

In [32]:
first_list = [x, y, z]

In [33]:
[[x, y, z] for x in first_list for y in first_list for z in first_list]

[[1, 1, 1],
 [1, 1, 1],
 [1, 1, 2],
 [1, 1, 1],
 [1, 1, 1],
 [1, 1, 2],
 [1, 2, 1],
 [1, 2, 1],
 [1, 2, 2],
 [1, 1, 1],
 [1, 1, 1],
 [1, 1, 2],
 [1, 1, 1],
 [1, 1, 1],
 [1, 1, 2],
 [1, 2, 1],
 [1, 2, 1],
 [1, 2, 2],
 [2, 1, 1],
 [2, 1, 1],
 [2, 1, 2],
 [2, 1, 1],
 [2, 1, 1],
 [2, 1, 2],
 [2, 2, 1],
 [2, 2, 1],
 [2, 2, 2]]

## String Split and Join

In [34]:
a = "This is a string"

In [35]:
def split_and_join(line):
    line = line.split(" ")
    line = "-".join(line)
    return line

In [36]:
split_and_join(a)

'This-is-a-string'

## What's your name

In [37]:
def print_full_name(a, b):
    print("Hello " + a + " " + b + "! You just delved into pyhton.")

In [38]:
print_full_name("Yvonne","King")

Hello Yvonne King! You just delved into pyhton.

In [39]:
def print_full_name(a,b):
    print("Hello " + a + " " + b + "! You just delved into python.")

In [40]:
print_full_name("Yvonne","King")

Hello Yvonne King! You just delved into python.

## Mutations

In [41]:
def mutate_string(string, position, character):
    string = string[:position] + character + string[position+1:]
    return string

In [42]:
assert mutate_string("abracadabra", 5, "k") == "abrackdabra"

## Swap Case

In [43]:
string = "Www.HackerRank.com"

In [44]:
string.swapcase()

'wWW.hACKERrANK.COM'

## Capitalize

In [45]:
def solve(s):
    return s.capitalize()

In [46]:
solve("123yvonne king")

'123yvonne king'

In [47]:
def solve(s):
    for x in s[:].split():
        s = s.replace(x, x.capitalize())
    return s

In [48]:
solve("123yvonne king")

'123yvonne King'

## String Validators

In [49]:
s = "#$%@^&*kjnk svskjnbui h 4oi3hheuh /dfh uidshvhdsuihv suihc 0hrem89m4c02mw4xo;,wh fwhncoishmxlxfkjsahnxu83v 08 n8OHOIHIOMOICWHOFCMHEOFMCOEJMC0J09C 03J J3L;JMFC3JM3JC3'JIOO9MMJ099U N090N9 OOHOLNHNLLKNLKNKNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKK3333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333000000000000000000000000000000000000000000000000000000000000000000000000000"

In [50]:
#In the first line, print True if  has any alphanumeric characters.
count = 0
for letter in s:
    count += letter.isalnum()
if count >= 1:
    print(True)
else:
    print(False)

True

In [51]:
# In the second line, print True if  has any alphabetical characters.
count = 0
for letter in s:
    count += letter.isalpha()
if count >= 1:
    print(True)
else:
    print(False)

True

In [52]:
# In the third line, print True if  has any digits. Otherwise, print False.
count = 0
for letter in s:
    count += letter.isdigit()
if count >= 1:
    print(True)
else:
    print(False)

True

In [53]:
# In the fourth line, print True if  has any lowercase characters.
count = 0
for letter in s:
    count += letter.islower()
if count >= 1:
    print(True)
else:
    print(False)

True

In [54]:
# In the fifth line, print True if  has any uppercase characters
count = 0
for letter in s:
    count += letter.isupper()
if count >= 1:
    print(True)
else:
    print(False)

True

## Find a String

In [55]:
a = "ABCDCDC"
b = "CDC"

In [56]:
def count_substring(string, sub_string):
    count=a=0
    while True:
        a=string.find(sub_string)
        string=string[a+1:]
        if a>=0:
            count=count+1;
        else:
            break
    return count

In [57]:
count_substring(a, b)

2

## Finding the percentage

In [58]:
student_marks = {"alpha": [20,30,40],
                "beta": [30,50,70]}
query_name = "alpha"

In [59]:
avg = sum(student_marks[(query_name)])/len(student_marks[(query_name)])

In [60]:
print(f"{avg:.2f}")

30.00

## List Comprehensions

In [61]:
x = 1
y = 1
z = 2
n = 3

In [65]:
arr = [[i,j,k] for i in range(0, x+1) for j in range(0,y+1) for k in range(0,z+1) if i+j+k != n]

In [66]:
print(arr)

[[0, 0, 0], [0, 0, 1], [0, 0, 2], [0, 1, 0], [0, 1, 1], [1, 0, 0], [1, 0, 1], [1, 1, 0], [1, 1, 2]]