# SQL Practice

## Revising the Select Query I

Query all columns for all American cities in the ```CITY``` table with populations larger than 100000. The ```CountryCode``` for America is USA.

The ```CITY``` table is described as follows:

Query all columns for all American cities in the CITY table with populations larger than 100000. The CountryCode for America is USA.

The CITY table is described as follows:

| Field | Type |
| ----- | ----- |
| ID | NUMBER |
| NAME | VARCHAR(17) |
| COUNTRYCODE | VARCHAR(3) |
| DISTRICT | VARCHAR(20) |
| POPULATION | NUMBER |

**ANSWER:**

```SELECT * 
FROM CITY
WHERE COUNTRYCODE = "USA"
AND POPULATION > 100000;```

## Revising the Select Query II

Query the ```NAME``` field for all American cities in the ```CITY``` table with populations larger than 120000. The ```CountryCode``` for America is USA.

The CITY table is described as follows:

| Field | Type |
| ----- | ----- |
| ID | NUMBER |
| NAME | VARCHAR(17) |
| COUNTRYCODE | VARCHAR(3) |
| DISTRICT | VARCHAR(20) |
| POPULATION | NUMBER |

**ANSWER:**

```SELECT NAME
FROM CITY
WHERE COUNTRYCODE = "USA"
AND POPULATION > 120000;```

## Select All

Query all columns (attributes) for every row in the ``CITY`` table.

The ```CITY``` table is described as follows:

| Field | Type |
| ----- | ----- |
| ID | NUMBER |
| NAME | VARCHAR(17) |
| COUNTRYCODE | VARCHAR(3) |
| DISTRICT | VARCHAR(20) |
| POPULATION | NUMBER |

**ANSWER:**

```SELECT *
FROM CITY;```

## Select By ID

Query all columns for a city in ```CITY``` with the ID 1661.

The ```CITY``` table is described as follows:

| Field | Type |
| ----- | ----- |
| ID | NUMBER |
| NAME | VARCHAR(17) |
| COUNTRYCODE | VARCHAR(3) |
| DISTRICT | VARCHAR(20) |
| POPULATION | NUMBER |

***ANSWER:***

```SELECT *
FROM CITY
WHERE ID = 1661;```

## Japanese Cities' Attributes

Query all attributes of every Japanese city in the ```CITY``` table. The ```COUNTRYCODE``` for Japan is JPN.

| Field | Type |
| ----- | ----- |
| ID | NUMBER |
| NAME | VARCHAR(17) |
| COUNTRYCODE | VARCHAR(3) |
| DISTRICT | VARCHAR(20) |
| POPULATION | NUMBER |

**ANSWER:**

``` SELECT *
FROM CITY
WHERE COUNTRYCODE = "JPN";```

## Japanese Cities' Names

Query the names of all the Japanese cities in the ```CITY``` table. The ```COUNTRYCODE``` for Japan is JPN.

The ```CITY``` table is described as follows:
    
| Field | Type |
| ----- | ----- |
| ID | NUMBER |
| NAME | VARCHAR(17) |
| COUNTRYCODE | VARCHAR(3) |
| DISTRICT | VARCHAR(20) |
| POPULATION | NUMBER |

**ANSWER:**

```SELECT NAME
FROM CITY
WHERE COUNTRYCODE = "JPN";```

## Weather Observation Station 1

Query a list of ```CITY``` and ```STATE``` from the ```STATION``` table.

The STATION table is described as follows:

| Field | Type |
| ----- | ----- |
| ID | NUMBER |
| CITY | VARCHAR(21) |
| STATE | VARCHAR(2) |
| LAT_N | NUMBER |
| LAT_W | NUMBER |

where ```LAT_N``` is the northern latitude and ```LONG_W```  is the western longitude.

**ANSWER:**

```SELECT CITY,
STATE
FROM STATION;```

## Weather Observation Station 3

Query a list of ```CITY``` names from ```STATION``` for cities that have an even ```ID``` number. Print the results in any order, but exclude duplicates from the answer.
The STATION table is described as follows:

| Field | Type |
| ----- | ----- |
| ID | NUMBER |
| CITY | VARCHAR(21) |
| STATE | VARCHAR(2) |
| LAT_N | NUMBER |
| LAT_W | NUMBER |

**answer:**

```SELECT CITY
FROM STATION 
WHERE ID % 2 = 0
GROUP BY CITY;```

## Weather Observation Station 4

Find the difference between the total number of CITY entries in the table and the number of distinct CITY entries in the table.
The STATION table is described as follows:
    
| Field | Type |
| ----- | ----- |
| ID | NUMBER |
| CITY | VARCHAR(21) |
| STATE | VARCHAR(2) |
| LAT_N | NUMBER |
| LAT_W | NUMBER |

where LAT_N is the northern latitude and LONG_W is the western longitude.

For example, if there are three records in the table with CITY values 'New York', 'New York', 'Bengalaru', there are 2 different city names: 'New York' and 'Bengalaru'. The query returns , because .

ANSWER:

```SELECT 
(COUNT(CITY)) - (COUNT(DISTINCT CITY))
FROM STATION```

## Weather Observation Station 5

Query the two cities in STATION with the shortest and longest CITY names, as well as their respective lengths (i.e.: number of characters in the name). If there is more than one smallest or largest city, choose the one that comes first when ordered alphabetically.

The STATION table is described as follows:

| Field | Type |
| ----- | ----- |
| ID | NUMBER |
| CITY | VARCHAR(21) |
| STATE | VARCHAR(2) |
| LAT_N | NUMBER |
| LAT_W | NUMBER |

where LAT_N is the northern latitude and LONG_W is the western longitude.

Sample Input

For example, CITY has four entries: DEF, ABC, PQRS and WXY.

Sample Output

```ABC 3```

```PQRS 4```

ANSWER:

```SELECT CITY,
LENGTH(CITY) AS LENGTHOFCITY
FROM STATION
ORDER BY LENGTHOFCITY ASC, CITY ASC
LIMIT 1;```

```SELECT CITY,
LENGTH(CITY) AS LENGTHOFCITY
FROM STATION
ORDER BY LENGTHOFCITY DESC, CITY ASC
LIMIT 1;```

## Weather Observation Station 6

Query the list of CITY names starting with vowels (i.e., a, e, i, o, or u) from STATION. Your result cannot contain duplicates.

Input Format

The STATION table is described as follows

The STATION table is described as follows:

| Field | Type |
| ----- | ----- |
| ID | NUMBER |
| CITY | VARCHAR(21) |
| STATE | VARCHAR(2) |
| LAT_N | NUMBER |
| LAT_W | NUMBER |

where LAT_N is the northern latitude and LONG_W is the western longitude.

ANSWER:
    
```SELECT DISTINCT CITY
FROM STATION
WHERE CITY REGEXP '^[AEIOU]';```

## Weather Observation Station 7

Query the list of CITY names ending with vowels (a, e, i, o, u) from STATION. Your result cannot contain duplicates.

Input Format

The STATION table is described as follows:
    
| Field | Type |
| ----- | ----- |
| ID | NUMBER |
| CITY | VARCHAR(21) |
| STATE | VARCHAR(2) |
| LAT_N | NUMBER |
| LAT_W | NUMBER |

where LAT_N is the northern latitude and LONG_W is the western longitude.

ANSWER:
    
SELECT DISTINCT CITY

FROM STATION

WHERE CITY REGEXP "[AEIOU]$";

## Weather Observation Station 8

Query the list of CITY names from STATION which have vowels (i.e., a, e, i, o, and u) as both their first and last characters. Your result cannot contain duplicates.

Input Format

The STATION table is described as follows:
    
| Field | Type |
| ----- | ----- |
| ID | NUMBER |
| CITY | VARCHAR(21) |
| STATE | VARCHAR(2) |
| LAT_N | NUMBER |
| LAT_W | NUMBER |

where LAT_N is the northern latitude and LONG_W is the western longitude.

answer:

SELECT DISTINCT CITY

FROM STATION 

WHERE CITY REGEXP '^[AEIOU].*[AEIOU]$';

## Weather Observation Station 9

Query the list of CITY names from STATION that do not start with vowels. Your result cannot contain duplicates.

Input Format

The STATION table is described as follows:

| Field | Type |
| ----- | ----- |
| ID | NUMBER |
| CITY | VARCHAR(21) |
| STATE | VARCHAR(2) |
| LAT_N | NUMBER |
| LAT_W | NUMBER |

where LAT_N is the northern latitude and LONG_W is the western longitude.

ANSWER:

```SELECT DISTINCT CITY
FROM STATION
WHERE CITY NOT REGEXP "^[AEIOU]";```

## Weather Observation Station 10

Query the list of CITY names from STATION that do not end with vowels. Your result cannot contain duplicates.

Input Format

The STATION table is described as follows:

| Field | Type |
| ----- | ----- |
| ID | NUMBER |
| CITY | VARCHAR(21) |
| STATE | VARCHAR(2) |
| LAT_N | NUMBER |
| LAT_W | NUMBER |

where LAT_N is the northern latitude and LONG_W is the western longitude.

ANSWER:

```SELECT DISTINCT CITY
FROM STATION
WHERE CITY NOT REGEXP "[AEIOU]$;"```