# SQL Practice

## Revising the Select Query I

Query all columns for all American cities in the ```CITY``` table with populations larger than 100000. The ```CountryCode``` for America is USA.

The ```CITY``` table is described as follows:

Query all columns for all American cities in the CITY table with populations larger than 100000. The CountryCode for America is USA.

The CITY table is described as follows:

| Field | Type |
| ----- | ----- |
| ID | NUMBER |
| NAME | VARCHAR(17) |
| COUNTRYCODE | VARCHAR(3) |
| DISTRICT | VARCHAR(20) |
| POPULATION | NUMBER |

**ANSWER:**

```SELECT * 
FROM CITY
WHERE COUNTRYCODE = "USA"
AND POPULATION > 100000;```

## Revising the Select Query II

Query the ```NAME``` field for all American cities in the ```CITY``` table with populations larger than 120000. The ```CountryCode``` for America is USA.

The CITY table is described as follows:

| Field | Type |
| ----- | ----- |
| ID | NUMBER |
| NAME | VARCHAR(17) |
| COUNTRYCODE | VARCHAR(3) |
| DISTRICT | VARCHAR(20) |
| POPULATION | NUMBER |

**ANSWER:**

```SELECT NAME
FROM CITY
WHERE COUNTRYCODE = "USA"
AND POPULATION > 120000;```

## Select All

Query all columns (attributes) for every row in the ``CITY`` table.

The ```CITY``` table is described as follows:

| Field | Type |
| ----- | ----- |
| ID | NUMBER |
| NAME | VARCHAR(17) |
| COUNTRYCODE | VARCHAR(3) |
| DISTRICT | VARCHAR(20) |
| POPULATION | NUMBER |

**ANSWER:**

```SELECT *
FROM CITY;```

## Select By ID

Query all columns for a city in ```CITY``` with the ID 1661.

The ```CITY``` table is described as follows:

| Field | Type |
| ----- | ----- |
| ID | NUMBER |
| NAME | VARCHAR(17) |
| COUNTRYCODE | VARCHAR(3) |
| DISTRICT | VARCHAR(20) |
| POPULATION | NUMBER |

***ANSWER:***

```SELECT *
FROM CITY
WHERE ID = 1661;```